<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   width="8.5in"
   height="11in"
   viewBox="0 0 215.9 279.4"
   version="1.1"
   id="svg5"
   inkscape:version="1.1.2 (0a00cf5339, 2022-02-04)"
   sodipodi:docname="page.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview7"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:document-units="mm"
     showgrid="true"
     inkscape:zoom="0.58644929"
     inkscape:cx="430.55726"
     inkscape:cy="424.58914"
     inkscape:window-width="1920"
     inkscape:window-height="1021"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1"
     showguides="true"
     inkscape:guide-bbox="true"
     inkscape:snap-bbox="true"
     inkscape:object-paths="true"
     inkscape:snap-intersection-paths="true"
     inkscape:snap-bbox-midpoints="false"
     inkscape:snap-bbox-edge-midpoints="true"
     inkscape:bbox-nodes="false"
     inkscape:bbox-paths="false"
     inkscape:snap-smooth-nodes="true"
     inkscape:snap-midpoints="true"
     inkscape:snap-object-midpoints="true"
     inkscape:snap-center="true"
     inkscape:snap-text-baseline="true"
     inkscape:snap-page="true"
     units="in"
     inkscape:snap-global="true"
     inkscape:snap-nodes="true">
    <inkscape:grid
       type="xygrid"
       id="grid553"
       empspacing="2"
       originx="6.35"
       originy="0"
       units="in"
       spacingx="12.7"
       spacingy="12.7"
       empcolor="#d91cff"
       empopacity="0.1254902" />
    <sodipodi:guide
       position="107.95,215.9"
       orientation="1,0"
       id="guide585" />
    <sodipodi:guide
       position="107.95,254"
       orientation="0,-1"
       id="guide2801" />
    <sodipodi:guide
       position="-44.45,25.4"
       orientation="0,-1"
       id="guide2803" />
    <sodipodi:guide
       position="31.75,254"
       orientation="1,0"
       id="guide2805" />
    <sodipodi:guide
       position="184.15,254"
       orientation="1,0"
       id="guide2807" />
    <sodipodi:guide
       position="107.95,177.8"
       orientation="0,-1"
       id="guide56633" />
  </sodipodi:namedview>
  <defs
     id="defs2" />
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
       x="107.95732"
       y="70.746094"
       id="text2901"><tspan
         sodipodi:role="line"
         id="tspan2899"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10px;font-family:sans-serif;-inkscape-font-specification:sans-serif;text-align:center;text-anchor:middle;stroke-width:0.264583"
         x="107.95732"
         y="70.746094">{{user.label}}</tspan></text>
    <image
       width="152.39999"
       height="152.39999"
       preserveAspectRatio="none"
       xlink:href="{{user.qrcode_svg_path}}"
       id="image4291"
       x="31.75"
       y="101.6" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:11.2889px;line-height:0;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
       x="107.66337"
       y="33.580044"
       id="text2891"><tspan
         sodipodi:role="line"
         style="font-size:11.2889px;line-height:1.25;text-align:center;text-anchor:middle;stroke-width:0.264583"
         x="107.66337"
         y="33.580044"
         id="tspan3353">Authentification</tspan><tspan
         sodipodi:role="line"
         style="font-size:11.2889px;line-height:1.25;text-align:center;text-anchor:middle;stroke-width:0.264583"
         x="107.66337"
         y="47.69117"
         id="tspan17495">Bons Solidaires</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:10px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
       x="107.95"
       y="101.6"
       id="text19045"><tspan
         sodipodi:role="line"
         id="tspan19043"
         style="font-size:8px;text-align:center;text-anchor:middle;stroke-width:0.264583"
         x="107.95"
         y="101.6">https://vouchers.epicerieledetour.org</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
       x="107.95732"
       y="58.046093"
       id="text1815"><tspan
         sodipodi:role="line"
         id="tspan1813"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:10px;font-family:sans-serif;-inkscape-font-specification:sans-serif;text-align:center;text-anchor:middle;stroke-width:0.264583"
         x="107.95732"
         y="58.046093">{{user.description}}</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:2.82222px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:sans-serif;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
       x="107.95206"
       y="256.04501"
       id="text43191"><tspan
         sodipodi:role="line"
         id="tspan43189"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:2.82222px;font-family:sans-serif;-inkscape-font-specification:sans-serif;text-align:center;text-anchor:middle;stroke-width:0.264583"
         x="107.95206"
         y="256.04501">{{user.token}}</tspan></text>
    <text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.23333px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:sans-serif;text-align:center;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.264583"
       x="107.81461"
       y="79.317123"
       id="text45305"><tspan
         sodipodi:role="line"
         id="tspan45303"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.23333px;font-family:sans-serif;-inkscape-font-specification:sans-serif;text-align:center;text-anchor:middle;stroke-width:0.264583"
         x="107.81461"
         y="79.317123">Date de création: {{document_date.isoformat()}}</tspan></text>
  </g>
</svg>
