<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="/icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/app.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body class="level-{{ level }}">
  <header id="header">
    {% if exit_url %}
      <button
        id="exit"
        onclick="window.location.href='{{ exit_url }}'"
      >
        Exit
      </button>
    {% endif %}

    <p id="user">
    {% if user %}
      {{ user.label }}
    {% else %}
      {{ title }}
    {% endif %}
    </p>

    <button
      id="history"
      {% if not (voucher and voucher.history) %}class="invisible"{% endif %}
    >
      History
    </button>
    
  </header>
  {% if voucher %}
    {#
    <section id="voucher">
      <p id="voucher-title"></p>
      <p id="voucher-id"></p>
      <p id="voucher-expire"></p>
      <p id="voucher-value"></p>
    </section>
    #}
  {% endif %}
  {% if scan_url %}
    <section id="scan">
      <video id="scan-preview">Scan preview: {{ scan }}</video>
    </section>
  {% endif %}
  <section id="prompt-area">
    <section id="prompt">{{ prompt }}</section>
  </section>
  <section id="status-area">
    <section id="status">{{ status }}</section>
  </section>

  {# <section id="detail"></section> #}
  {# <button id="action"></button> #}

  {# <dialog id="dialog">
    <h1 id="dialog-title"></h1>
    <section id="dialog-content">
    </section>
  </dialog> #}

  {# <script type="text/javascript" src="https://unpkg.com/@zxing/browser@latest"></script> #}
  {# <script type="text/javascript" src="js/main.js"></script> #}
  <script type="text/javascript">
    // Scan URL: {{ scan_url }}
    // Timeout URL: {{ timeout_url }}
  </script>

  <progress id="progress" style="visibility:hidden"></progress>

  {% if timeout %}
  <script type="text/javascript">
  const t0 = window.performance.now()

  setTimeout(
    () => window.location.href = "{{ timeout.url }}",
    {{ timeout_milliseconds }}
  )

  const el = document.getElementById("progress")
  el.max = {{ timeout.milliseconds }}
  el.value = 0
  el.style.visibility = "visible"

  function updateProgress() {
    const t = window.performance.now()
    el.value = t - t0
    window.requestAnimationFrame(updateProgress)
  }

  updateProgress()

  </script>

  {% endif %}

</body>

</html>