<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/app.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body class="level-{{ level }}">
  <header id="header">
    {% if user %}
      <button id="exit">Exit</button>
    {% endif %}

    <p id="user">
    {% if user %}
      {{ user.label }}
    {% else %}
      {{ title }}
    {% endif %}
    </p>

    {% if voucher and voucher.history %}
      <button id="history">History</button>
    {% endif %}
  </header>
  {% if voucher %}
    {#
    <section id="voucher">
      <p id="voucher-title"></p>
      <p id="voucher-id"></p>
      <p id="voucher-expire"></p>
      <p id="voucher-value"></p>
    </section>
    #}
  {% else %}
    <section id="scan">
      <video id="scan-preview">Scan preview: {{ scan }}</video>
    </section>
  {% endif %}
  <section id="prompt-area">
    <section id="prompt">{{ prompt }}</section>
  </section>
  <section id="status-area">
    <section id="status">{{ status }}</section>
  </section>

  {% if timeout %}
  <p>Timeout: {{ timeout.total_seconds() }}</p>
  <p>Next url after timeout: {{ timeout_nexturl }}</p>
  {% endif %}
  {# <section id="detail"></section> #}
  {# <button id="action"></button> #}

  {# <dialog id="dialog">
    <h1 id="dialog-title"></h1>
    <section id="dialog-content">
    </section>
  </dialog> #}

  {# <script type="text/javascript" src="https://unpkg.com/@zxing/browser@latest"></script> #}
  {# <script type="text/javascript" src="js/main.js"></script> #}
</body>

</html>