<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta property="og:title" content="" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />

  <link rel="manifest" href="site.webmanifest" />
  <link rel="apple-touch-icon" href="/icon.png" />
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/app.css" />

  <meta name="theme-color" content="#fafafa" />

  <meta name="responseid" content="{{ responseid | default('') }}" />

  {% if scan_url %}
  <meta name="scan-url" content="{{ scan_url }}" />
  {% endif %}

  {% if debug %}
  <meta name="debug" content="{{ debug }}" />
  {% endif %}
</head>

<body class="level-{{ level }}">
  <header id="header">
    <button id="logout" {% if logout_url %} onclick="window.location.href='{{ logout_url }}'" {% else %}
      class="invisible" {% endif %}>
      Logout
    </button>

    <p id="user">
      {% if user %}
      {{ user.label }}
      {% else %}
      {{ title }}
      {% endif %}
    </p>

    <!--
    <button id="history"{% if not (voucher and voucher.history) %}class="invisible" {% endif %}>    
    -->
    <button id="history" class="invisible">History</button>

  </header>

  {% if scan_url %}
  <video id="scan-preview">Scan preview: {{ scan }}</video>
  <script type="text/javascript" src="/js/zxing-browser-0.1.4.js"></script>
  <script type="text/javascript" src="/js/scan.js"></script>
  {% endif %}

  {% if voucher %}
  <section id="voucher">
    <p>Id</p>
    <p id="voucher-id">{{ voucher.token }}</p>

    <p>Value</p>
    <p id="voucher-value">{{ voucher.value_CAN }}$</p>

    <p>Expire</p>
    <p id="voucher-expire">{{ voucher.expiration_utc | date }}</p>

    <p>Cashedin by</p>
    <p id="voucher-cashedin-by">
      {% if voucher.cashedin_by_label %}
      {{ voucher.cashedin_by_label }}
      {% else %}
      Not cashedin yet
      {% endif %}
    </p>

    <p>Cashedin date</p>
    <p id="voucher-cashedin-utc">{{ voucher.cashedin_utc | datetime }}</p>

    <p>Can undo</p>
    <p>{{ voucher.can_undo | boolstr }}</p>

    <p>Can undo until</p>
    <p id="voucher-undotimeout">{{ voucher.undo_expiration_utc | datetime }}</p>
  </section>
  {% endif %}

  <section id="prompt-area">
    <section id="prompt">{{ prompt }}</section>
  </section>
  <section id="status-area">
    <section id="status">{{ status }}</section>
  </section>

  {# <dialog id="dialog">
    <h1 id="dialog-title"></h1>
    <section id="dialog-content">
    </section>
  </dialog> #}

  {% if undo_url %}
  <button>Undo cashedin</button>
  {% endif %}

  {% if timeout %}
  <progress id="timeout-progress" max="{{ timeout.milliseconds }}"></progress>
  <script id="timeout-script" type="text/javascript" data-timeout-url="{{ timeout.url }}" src="/js/timeout.js">
  </script>
  {% endif %}

</body>

</html>